body {
  padding-top: 0px;
  padding-bottom: 40px;
  background-color: white;
  max-width: 2000px;
  display: flex;
  justify-content: center;
}

.banner-image {
  width: 100%; 
  height: 500px;
  object-fit: cover;
  border-radius: 0px;
  justify-content: center;
}

.images {
  width: 30px;
  height: 30px;
  border-radius: 0px;
  display: inline-block;
  justify-content: space-between;
  margin: 0 13% 0 10%;
  text-align:right;
}


.items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 2000px;
    flex-grow: 1;
}

.name {
  color: black;
  display: flex;
  justify-content: center;
}

.social-icons a {
  color: #fffffe;
  background-color: yellow;
  text-decoration: none;
  justify-content: space-around;
}

.link a {
  color: white;
  text-decoration: none;
  text-align: center;
  flex-grow: 1;
}

.link {
  background-color: black;
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: center;
  gap: 10px;
}
