body {
  padding-top: 0px;
  padding-bottom: 40px;
  background-color: white;
  max-width: 2000px;
}

.banner-image {
  width: 100%; 
  height: 500px;
  object-fit: cover;
  border-radius: 0px;
}

.images {
  width: 30px;
  height: 30px;
  border-radius: 0px;
  display: inline-block;
  justify-content: space-between;
  margin: 0 13% 0 10%;
  text-align:right;
}


.items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 2000px;
}

.name {
  color: #fffffe;
}

.social-icons a {
  color: #fffffe;
  background-color: yellow;
  text-decoration: none;
}

.link a {
  color: #001e1d;
  text-decoration: none;
}
